include:
  - project: "dvelop/include"
    file: "dvelop.gitlab-ci.yml"
  - project: "hyperautomation/misc/include"
    file: "hyperautomation.gitlab-ci.yml"

stages:
  - generate
  - build
  - deploy
  - test
  - compliance

variables:
  IMAGE_NAME: "dockerhub.d-velop.de/hyperautomation/dv-n8n"

build-n8n-nodes:
  stage: build
  extends: .hyperautomation.snippets.yarn
  before_script:
    - cd @dvelop/n8n-nodes-example
    - yarn install --frozen-lockfile
  script:
    - yarn build
  artifacts:
    paths:
      - ./@dvelop/n8n-nodes-example/dist/
    expire_in: 1 hour
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - ./@dvelop/n8n-nodes-example/node_modules/
      - ./@dvelop/n8n-nodes-example/yarn.lock

publish-image:
  stage: deploy
  rules:
    - when: manual
  extends: .dvelop.snippets.kaniko
  dependencies:
    - build-n8n-nodes
  variables:
    DVELOP_KANIKO_IMAGE: "${IMAGE_NAME}"
    DVELOP_KANIKO_IMAGE_TAGS: "latest;${CI_COMMIT_SHA}"
    DVELOP_KANIKO_CUSTOM_FLAGS: "--build-arg build_version=${CI_COMMIT_SHA}"