include:
  - project: "dvelop/include"
    file: "dvelop.gitlab-ci.yml"
  - project: "hyperautomation/misc/include"
    file: "hyperautomation.gitlab-ci.yml"

stages:
  - generate
  - build
  - deploy
  - test
  - compliance

variables:
  IMAGE_NAME: "dockerhub.d-velop.de/hyperautomation/dv-n8n"

build-n8n-nodes:
  stage: build
  image: dockerhub.d-velop.de/hyperautomation-tools/node:24.7.0
  extends: .vault-linux
  script:
    - YARN_NPM_ACCESS_TOKEN=$(curl -H"Authorization:Bearer $ARTIFACTORY_ACCESS_TOKEN" -XPOST "https://repo.d-velop.de/artifactory/api/security/token" -d "username=$MVN_ARTIFACTORY_USERNAME" -d "expires_in=3600" -d "description=ci_job_access_token" | jq -r '.access_token')
    - cd @dvelop/n8n-nodes-example
    - corepack enable
    - yarn set version stable || true
    - yarn config set --home npmRegistryServer "https://repo.d-velop.de/artifactory/api/npm/npm-repo/"
    - yarn config set --home npmAlwaysAuth "true"
    - yarn config set --home npmAuthToken "$YARN_NPM_ACCESS_TOKEN"
    - yarn install
    - yarn build
  artifacts:
    paths:
      - ./@dvelop/n8n-nodes-example/dist/
    expire_in: 1 hour
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - ./@dvelop/n8n-nodes-example/node_modules/
      - ./@dvelop/n8n-nodes-example/yarn.lock

publish-image:
  stage: deploy
  rules:
    - when: manual
  extends: .dvelop.snippets.kaniko
  dependencies:
    - build-n8n-nodes
  variables:
    DVELOP_KANIKO_IMAGE: "${IMAGE_NAME}"
    DVELOP_KANIKO_IMAGE_TAGS: "latest;${CI_COMMIT_SHA}"
    DVELOP_KANIKO_CUSTOM_FLAGS: "--build-arg build_version=${CI_COMMIT_SHA}"